#footer {
    clear: both;
    margin-top: 10rem;
    background: #38475a;
    color: white;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}

#footer a {
    color: white;
    text-decoration: underline;
}

.footer__content {
	margin: 0 auto;
	max-width: 900px;
}

.footer__credit {
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
}

.footer__list {
	margin-bottom: 4rem;
	list-style: none;

	li {
		display: inline-block;
    border-right: 1px solid white;
    padding: 0 10px;
    &:last-child {
    	border: none;
    }
	}

	a {
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: .5rem;
	}
}

.footer__logo {
	margin-top: 2rem;
	display: inline-block;
	img {
		max-width: 273px;
	}

}

.footer__heading {
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.footer__dedication {
	font-size: 1.8rem;
	font-style: italic;
	margin-bottom: 4rem;
}

.footer_publish {
	font-size: 1.6rem;
}