//Set Specificity to 200
#footer#footer {

	clear: both;
	color: white;
	font-size: 1.4rem;
	padding: 0;

	a {
		color: white;
		text-decoration: underline;
		font-size: 1.4rem;
		&:hover {
			opacity: .8;
		}
	}

	.footer__content {
		margin: 0 auto;
		max-width: 940px;
		padding-left: 20px;
		padding-right: 20px;

	}

	.footer__upper {
		background: #38475a;
		padding: 0;
	}

	.footer__content--upper-1 {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.footer__content--upper-2 {
		padding-bottom: 30px;
		@media only screen and (min-width: 767px) {
			display: flex;
			justify-content: space-between;
		}
	}

	.footer__content--lower {
		text-align: center;
		@media only screen and (min-width: 767px) {
			display: flex;
			justify-content: space-between;
		}
	}

	.footer__blocks {
		padding: 0;
		margin: -12px;

		@media only screen and (min-width: 767px) {
			margin: -8px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	.footer__block {
	    display: block;
		margin: 12px;

		@media only screen and (min-width: 767px) {
			width: calc(50% - 16px);
			flex-shrink: 0;
			margin: 8px;
		}
	}

	.footer__block-link {
		display: block;
		text-decoration: none;
		padding: 5px;
		font-size: 25px; 
		text-align: center;

		img {
			display: none;
			@media only screen and (min-width: 767px) {
				display: inline-block;
			}
		}
	}

	.footer__block-link--territory {
		background-color: #b73323;
		@media only screen and (min-width: 767px) {
			text-align: right;
		}
	}
	.footer__block-link--colonialism {
		background-color: #0d5065;
		@media only screen and (min-width: 767px) {
			text-align: left;
		}
	}
	.footer__block-link--community {
		background-color: #157473;
		@media only screen and (min-width: 767px) {
			text-align: right;
		}
	}
	.footer__block-link--wellness {
		background-color: #d68353;
		@media only screen and (min-width: 767px) {
			text-align: left;
		}
	}

	.footer__lower {
		background: #293646;
		padding: 2rem 0 2rem 0;
	}

	.footer__item {
		margin-bottom: 20px;
		
		@media only screen and (min-width: 767px) {
			margin-bottom: 0;
		}
	}

	.footer__item .footer__item--4 {
		margin-bottom: 0;
		
		@media only screen and (min-width: 767px) {
			margin-bottom: 0;
		}
	}

	.footer__links {
		@media only screen and (min-width: 767px) {
			text-align: right;
		}
	}

	.footer__list {
		padding: 0;
		list-style: none;
		margin-bottom: 0;
	}

	.footer__list-item {
		font-size: 1.6rem;
		line-height: 1.5;
		&:last-child {
			border: none;
		}
		&:before {
			content: "■";
			color: #798aa0;
			padding-right: 10px;
		}

	}

	.footer__info-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__info-list-item {
		font-size: 14px;
		line-height: 1.5;
	}

	.footer__info-list-item--1 {
		margin-right: 20px;
	}

	.footer__logo {
		display: inline-block;
		img {
			max-width: 200px;
		}
	}

}