.jp-audio {
	width: 100% !important;
}

.jp-progress {
	width: calc(100% - 156px) !important;
}

div.jp-interface {
	background-color: white;
}

div.jp-audio {
	border: 2px solid #ccc;
}


.mediaObject {
	img {
		margin: 0 auto;
		display: block;
	}
}

.widget_carousel .widgetContainer {
	width: 100% !important;
}

.primary_role_media .slot {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	.mediaelement {
		max-width: 100%;
	}
}