@font-face {
	font-family:'Aboriginal Serif';
	src: url('fonts/Aboriginal_Serif_REGULAR_939.eot?') format('eot'), url('fonts/Aboriginal_Serif_REGULAR_939.woff') format('woff'), url('fonts/Aboriginal_Serif_REGULAR_939.ttf') format('truetype'), url('fonts/Aboriginal_Serif_REGULAR_939.svg#AboriginalSerif') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'Aboriginal Sans';
	src: url('fonts/AboriginalSansREGULAR.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
.body_font, .body_copy {
	font-family:'Aboriginal Serif';
}
.caption_font, label, .bootbox .custom_meta, table, .content_selector, .bootbox, #results, textarea {
	font-family:'Aboriginal Sans', sans-serif;
	font-weight:normal;
	letter-spacing:-.25px;
}
.body_copy {
	font-size:17px;
}

.navbar .title_wrapper {
	font-size:14px;
	letter-spacing:-.25px;
}
.navbar ul.dropdown-menu li.static>a, .navbar ul.dropdown-menu>li>a, .navbar ul.dropdown-menu .relationships li>a, .navbar ul.dropdown-menu .body>ol>li>a {
	font-weight:normal;
	font-size:14px;
}
.menuIcon {
	height:27px;
}
#desktopTitleWrapper {
	padding-top:3px !important;
}
article h1 {
	font-size:5rem;
}
button, .btn, input, optgroup, select {
	font-family:'Aboriginal Sans' !important;
	font-size:14px !important;
	letter-spacing:-.25px;
}
.btn, .form-control {
	padding: 7px 12px 5px 12px;
}
.mediainfo div, .attribution, .additional_metadata, ul.resources p.desc {
	font-size: 1.4rem;
}
.ci-template-html {
	font-family: 'Aboriginal Serif', serif !important;
}
#bootbox-media-options-form select.btn, .widgetFormatting select.btn {
	margin-top:7px;
}
.alert-info {
	line-height: 130%;
}
.cke_button__scalarkeyboard_icon {
	background-image:url(ckeditor_specialchar.png) !important;
	background-size:24px !important;
	background-position:-4px !important;
}
#ScalarHeaderMenuSearchForm input[type="text"] {
	width:190px;
}
.cke_dialog_title, .cke_dialog strong {
	font-family:'Aboriginal Sans' !important;
}
.cke_dialog_body, .cke_reset_all, .cke_reset_all * {
	font-family:'Aboriginal Serif' !important;
}
a.cke_specialchar {
	font-size:16px;
}
.cke_specialchar > span:first-of-type {
	font-size:16px;
}
.right-inner-addon {
	position:relative;
	z-index:1;
}
.right-inner-addon input {
	padding-right:30px;
}
.right-inner-addon a {
	position:absolute;
	top:5px;
	right:12px;
	text-decoration:none;
	z-index:9;
	display:block;
}
.right-inner-addon .keyboard-icon {
	visibility:hidden;
	background-image:url(keyboard_icon.png);
	width:24px;
	height:24px;
	background-size:contain;
}
.right-inner-addon .keyboard-icon.active {
	visibility:visible;
}


body {
	background-color: white;
}

.bg_screen {
	display: none;
}