@font-face {
	font-family:'Aboriginal Serif';
	src: url('fonts/AboriginalSerifREGULAR.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('fonts/AboriginalSerifBOLD.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('fonts/AboriginalSerifBOLDITALIC.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('fonts/AboriginalSerifITALIC.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}

.body_font, .body_copy {
	font-family:'Aboriginal Serif';
}