
@font-face {
	font-family:'Aboriginal Serif';
	src: url('../fonts/Aboriginal_Serif/AboriginalSerifREGULAR.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('../fonts/Aboriginal_Serif/AboriginalSerifBOLD.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('../fonts/Aboriginal_Serif/AboriginalSerifBOLDITALIC.ttf') format('truetype');
	font-weight:bold;
	font-style:italic;
}

@font-face {
	font-family:'Aboriginal Serif';
	src: url('../fonts/Aboriginal_Serif/AboriginalSerifITALIC.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}

@import "common/common-old";
@import "common/custom-old";

@import "common/global";
@import "common/typography";

@import "layouts/pages";
@import "layouts/pages-header";
@import "layouts/home";

@import "components/footer";
@import "components/header";
@import "components/header-old";
@import "components/visual-path";
@import "components/buttons";
@import "components/slot";
@import "components/media";